<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Catálogo de Livros</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/lista">Lista de Livros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dados">Adicionar Livro</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>